:root {
  --text: #3e3f42;
  --light: #9ea0a5;
  --white: #ffffff;
  --divider-light: #eaedf3;
  --default-padding: 8px;
}

.header-container {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  background-color: var(--white);
  z-index: 9;
}